* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.container:before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url('media/chickens.jpg');
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  width: 30%;
  margin-left: 35%;
}

h1 {
  font-size: 100px;
  color: coral;
  mix-blend-mode: screen;
  letter-spacing: -5px;
  line-height: 40px;
}

#player1, #player2{
  display: inline-block;
  width: 10%;
  margin-left: 10%;
  margin-top: 25px;
}

#player1 {
  margin-left: 35%;
}

header, footer {
  text-align: center;
  margin-top: 50px;
}